<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAgu3Yz_JtghI9SZvqGL9ebaBoTqX8FvWs</string>
	<key>GCM_SENDER_ID</key>
	<string>1037691756037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.3mb.clupup</string>
	<key>PROJECT_ID</key>
	<string>clubup-58f3c</string>
	<key>STORAGE_BUCKET</key>
	<string>clubup-58f3c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037691756037:ios:dc929916c34d15c03a466c</string>
</dict>
</plist>